<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="MainTest">
    <test name="MainTest" parallel="false">
        <classes>
            <class name="org.akavity.tests.NewTest">
                <methods>
                    <include name="catalogNavigation"/>
                    <include name="sortProductsByPrice"/>
                    <include name="productSearch"/>
                    <include name="serviceMenuNavigation"/>
                    <include name="selectCurrency"/>
                    <include name="selectPickUpPoint"/>
                    <include name="selectLocalWarehouseProduct"/>
                    <include name="selectPromotion"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
