<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="MainTest" parallel="tests" thread-count="2">
    <test name="FirstTest">
        <parameter name="startType" value="selenoid"/>
        <parameter name="browser" value="chrome"/>
        <parameter name="version" value="latest"/>
        <classes>
            <class name="org.akavity.tests.NewTest">
                <methods>
                    <include name="catalogNavigation"/>
                    <include name="sortProductsByPrice"/>
                    <include name="productSearch"/>
                    <include name="serviceMenuNavigation"/>
                </methods>
            </class>
        </classes>
    </test>
    <test name="SecondTest">
        <parameter name="startType" value="selenoid"/>
        <parameter name="browser" value="chrome"/>
        <parameter name="version" value="latest"/>
        <classes>
            <class name="org.akavity.tests.NewTest">
                <methods>
                    <include name="selectCurrency"/>
                    <include name="selectPickUpPoint"/>
                    <include name="selectLocalWarehouseProduct"/>
                    <include name="selectPromotion"/>
                </methods>
            </class>
            <class name="org.akavity.tests.ProductTest">
                <methods>
                    <include name="lookAtReviews"/>
                    <include name="openProductPopup"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
